install below libraries using pip-->

dash
dash-core-components
dash-html-components
dash-renderer
dash-table
Flask
Flask-Compress
gunicorn
lxml
numpy
pandas
plotly
scikit-learn
scipy
sklearn
yfinance
