*{
    margin: 0px;
    padding: 0px;
    /*box-sizing: 0px;*/
    font-family: 'Roboto', sans-serif;
}
body{
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.container{
    display: flex;   
    
}

.nav {
    /*position: fixed;*/
    width: 30%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgb(97, 156, 137);
    min-height: 800px;
    
    
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
  }

.buttons{
    background-color: rgb(31, 30, 30);
    color: white;
    text-align: center;
    border-radius: 8px;
    padding: 12px 28px;
}

.buttons:hover{
    background-color: grey;
    color: black;
}
.inputs{
    padding: 11px 25px;
    border-radius: 8px;
}

.date{
    border-radius: 8px;
    background-color: grey;
}

.outputContainer{
    
    width: 85%;
    
}
.graphs{
    border: 1px black;
}