*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    border: 2px black;
    
    
}

.inputs {
    width: 25vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(144, 172, 172);
    }

.lefty{
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100%;
    border: 1px  white;

}
.name{
    color: white;
}

